/* LOCALISATION */
.localisation {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    height: 4rem;
    color: rgb(71, 72, 73);
    align-items: center;
    box-shadow: 0px 0px 0.5rem rgb(184, 180, 180);
}

.localisation p {
    text-align: center;
    padding-right: 30px;
    font-weight: bold;

}

.localisation i {
    align-items: center;
    padding-right: 1.2rem;
    color: rgb(71, 72, 73);
    font-size: x-large
}
